---
import { Icon } from 'astro-icon/components';
---

<header class="navbar fixed top-0 z-50 border-b-2 bg-base-100">
	<div class="flex-none">
		<button class="btn btn-ghost text-xl font-extrabold text-base-content">4CIL</button>
	</div>
	<div class="flex-1"></div>
	<div class="flex-none gap-x-2">
		<button class="btn btn-square btn-ghost">
			<Icon name="mdi:search" class="h-6 w-6" />
		</button>
		<button class="btn btn-square btn-ghost">
			<Icon name="mdi:github" class="h-6 w-6" />
		</button>
		<button class="btn btn-square btn-ghost">
			<Icon name="mdi:power-sleep" class="h-6 w-6" />
		</button>
	</div>
</header>
