---
import Header from '@/components/Header.astro';
import Base from './Base.astro';
import Footer from '@/components/Footer.astro';

interface Props {
	title: string;
	description: string;
	path: string;
	ogp?: string;
}
const { title, description, path, ogp } = Astro.props;
---

<Base title={title} description={description} path={path} ogp={ogp}>
	<Header />
	<main class="min-h-screen"></main>
	<Footer />
</Base>
